.banner {
    .banner-body {
        @include adaptiv-value('border-radius', 8, 4, 1);
        @include adaptiv-value('padding-top', 45, 40, 1);
        @include adaptiv-value('padding-bottom', 45, 40, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            max-width: 390px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            font-size: 24px;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
            padding: 30px 0;
            background-color: rgba(241, 93, 34, 0.6);
            transition: .3s;
            border-radius: 8px;
            @media (max-width: $mobileSmall) {
                margin: 0 35px
            }
            &:hover {
                background-color: $orangecolor;
            }
            span {
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
}