.bottom-navigation {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 15px;
    justify-content: space-between;
    @media (min-width: $tablet) {
        display: none;
    }
    @media (max-width: $mobileSmall) {
        padding: 15px 10px;
    }
    a.button:first-child {
        width: 100%;
    }
    a.button {
        width: 40%;
        padding: 10px;
        @media (max-width: $mobileSmall) {
            width: 100%;
            .button-text {
                display: none;
            }
        }
    }
}