.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include adaptiv-value('gap', 60, 50, 1);
    background-color: #000;
    padding: 60px 15px;
    @include adaptiv-value('margin-top', 50, 30, 1);

    @media (max-width: $tablet) {
        padding-bottom: 120px;
    }

    .footer-header {
        text-align: center;

        img {
            @include adaptiv-value('width', 177, 111, 1);
        }

        p {
            @include adaptiv-value('margin-top', 40, 30, 1);
            max-width: 460px;
            line-height: 19px;
            color: #ffffff;
            opacity: 0.8;
        }
    }

    .footer-nav {
        display: flex;
        align-items: center;
        @include adaptiv-value('gap', 50, 10, 1);

        li {
            a {
                @include adaptiv-value('font-size', 16, 14, 1);
                transition: 0.2s;
                color: #fff;

                &:hover {
                    color: $graycolor300;
                }
            }
        }

        @media (max-width: $tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        @media (max-width: $mobile) {
        }
    }

    .footer-links {
        display: flex;
        align-items: center;

        &__card,
        &__socials {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &__card {
            padding-right: 50px;
            border-right: 2px solid #ffffff;

            @media (max-width: $mobile) {
                display: none;
            }
        }

        &__socials {
            /* padding-left: 50px; */
            @media (max-width: $mobile) {
                padding: 0;
            }

            svg {
                width: 36px;
                height: 36px;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .copyright {
        font-size: 15px;
        letter-spacing: -0.204545px;
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    inset: 0;
    z-index: 100000;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $orangecolor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
