.upper-header {
    padding: 15px 0;
    background-color: #000;
    font-size: 14px;
    color: #fff;
    @media (max-width: $tablet) {
        display: none;
    }
    &__container {
        @include adaptiv-value('gap', 30, 15, 1);
        display: flex;
        align-items: center;
    }
    &__social {
        display: flex;
        align-items: center;
        gap: 15px;
        a {
            img {
                transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__nav {
        flex: 1;
        ul {
            @include adaptiv-value('gap', 30, 15, 1);
            display: flex;
            align-items: center;
            li {
                a {
                    color: #fff;
                    transition: 0.3s;
                    &:hover {
                        color: $orangecolor;
                    }
                }
            }
        }
    }
    .get-call {
        @include adaptiv-value('margin-right', 100, 0, 1);
        transition: 0.3s;
        @media (max-width: $tablet) {
            margin-right: 0;
        }
        &:hover {
            color: $graycolor300;
        }
    }
    .upper-info {
        @include adaptiv-value('gap', 20, 10, 1);
        display: flex;
        align-items: center;
        .get-call {
            margin: 0;
        }
        &__call {
            display: flex;
            align-items: center;
            a {
                @include adaptiv-value('margin-left', 20, 10, 1);
                color: #fff;
                display: flex;
                gap: 20px;
                transition: 0.3s;
                &:hover {
                    color: $graycolor300;
                }
            }
        }
        .language {
            &__current {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: $graycolor300;
                }
            }
        }
    }
}

.upper-header--mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    right: -100%;
    z-index: 5;
    transition: 0.3s;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    display: none;
    &.active {
        right: 0;
    }
    h4 {
        margin-bottom: 20px;
    }
    @media (max-width: $tablet) {
        display: block;
    }
    .upper-header__nav {
        display: flex;
        @include adaptiv-value('margin-bottom', 50, 30, 1);
        @include adaptiv-value('gap', 70, 40, 1);
        ul {
            display: block;
            li {
                &:not(:last-child) {
                    @include adaptiv-value('margin-bottom', 30, 20, 1);
                }
                a {
                    color: $maincolor;
                    transition: 0.3s;
                    &:hover {
                        color: $orangecolor;
                    }
                }
            }
        }
    }
    .header-row {
        @include adaptiv-value('margin-bottom', 50, 30, 1);
        display: flex;
        gap: 40px;
        &__block {
            ul {
                li {
                    &:not(:last-child) {
                        @include adaptiv-value('margin-bottom', 30, 20, 1);
                    }
                    button {
                        transition: 0.3s;
                        &:hover {
                            color: #000;
                        }
                        &.current {
                            color: $orangecolor;
                        }
                    }
                }
            }
            .get-call {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}

.header {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-bottom: 20px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        position: relative;
    }
    &-left {
        @include adaptiv-value('gap', 30, 10, 1);
        display: flex;
        align-items: center;
        &__logo {
            @media (max-width: $mobileSmall) {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            img {
                @include adaptiv-value('width', 176, 100, 1);
                height: auto;
            }
        }
        &__menu {
            position: relative;
            z-index: 4;
            @media (max-width: $tablet) {
                display: none;
            }
        }
        .menu-nav {
            @include adaptiv-value('width', 820, 740, 1);
            @include adaptiv-value('padding', 50, 30, 1);
            position: absolute;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            top: calc(100% + 10px);
            display: flex;
            justify-content: space-between;
            gap: 20px;
            transform: translateY(-30px);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            max-height: 580px;
            &.menu-open {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            &__block {
                padding-bottom: 50px;
                h5 {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                        a {
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            transition: 0.3s;
                            span {
                                font-size: 16px;
                            }
                            &:hover {
                                color: $orangecolor;
                            }
                        }
                    }
                }
            }
        }
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 15px;
        &--mobile {
            display: block;
            @media (min-width: $tablet) {
                display: none;
            }
            .menu-nav--mobile {
                position: fixed;
                width: 70%;
                height: 100%;
                background-color: #fff;
                z-index: 7;
                padding: 0 15px;
                right: -70%;
                transition: 0.3s;
                &.active {
                    right: 0;
                }
                @media (max-width: $mobileMedium) {
                    width: 85%;
                    right: -85%;
                }
                @media (max-width: $mobileSmall) {
                    width: 100%;
                    right: -100%;
                }
                form {
                    margin-bottom: 30px;
                }
                .menu-block {
                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }
                    h5 {
                        margin-bottom: 30px;
                    }
                    ul {
                        li {
                            &:not(:last-child) {
                                margin-bottom: 30px;
                            }
                            a {
                                line-height: 160%;
                                transition: 0.3s;
                                &:hover {
                                    color: $orangecolor;
                                }
                            }
                        }
                    }
                }
            }
        }
        button.button {
            display: none;
            @media (min-width: $tablet) {
                display: flex;
            }
        }
        &__search {
            position: relative;
            input {
                @include adaptiv-value('width', 240, 140, 1);
                height: 52px;
                @media (max-width: $tablet) {
                    width: 100%;
                }
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                font-size: 24px;
            }
        }
    }
}
