.upper-header {
    padding: 15px 0;
    background-color: #000;
    font-size: 14px;
    margin-bottom: 20px;

    @media (max-width: $tablet) {
        display: none;
    }

    &__container {
        @include adaptiv-value('gap', 30, 0, 1);
        display: flex;
        align-items: center;
    }

    &__form {
        flex: 1;
    }

    &__search {
        position: relative;
        width: 100%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        input {
            width: 100%;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }

        button {
            position: absolute;
            top: 50%;
            color: $darkcolor  !important;
            transform: translateY(-50%);
            padding-top: 10px;
            padding-bottom: 10px;
            right: 10px;
            font-size: 24px;
        }
    }

    &__nav {
        ul {
            @include adaptiv-value('gap', 30, 0, 1);
            display: flex;
            align-items: center;

            li {
                a {
                    color: #fff;
                    transition: 0.3s;

                    &:hover {
                        color: $orangecolor;
                    }
                }
            }
        }
    }

    .upper-info {
        @include adaptiv-value('gap', 20, 10, 1);
        display: flex;
        align-items: center;

        &__hours {
            position: relative;

            .desk {
                display: block;

                @media (max-width: 1200px) {
                    display: none;
                }
            }

            .main-hour {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #fff;
            }

            &:hover {
                .hours-info {
                    opacity: 1;
                    visibility: visible;
                    top: 120%;
                }
            }

            .dot {
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
            }

            p {
                @include adaptiv-value('font-size', 18, 12, 1);
            }

            .hours-info {
                position: absolute;
                z-index: 3;
                background-color: #fff;
                color: $maincolor;
                width: 295px;
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                top: 200%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

                &__top {
                    padding: 30px;
                    display: block;
                    @include adaptiv-value('padding', 30, 15, 1);
                    @include adaptiv-value('padding-bottom', 20, 10, 1);

                    h3 {
                        @include adaptiv-value('margin-bottom', 20, 10, 1);
                    }

                    p {
                        font-size: 14px;

                        &:not(:last-child) {
                            @include adaptiv-value('margin-bottom', 20, 10, 1);
                        }
                    }
                }

                .separator {
                    width: 100%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &__bottom {
                    padding: 30px;
                    @include adaptiv-value('padding', 30, 15, 1);

                    a {
                        display: block;
                        transition: 0.3s;

                        &:hover {
                            color: $orangecolor;
                        }

                        &:not(:last-child) {
                            @include adaptiv-value('margin-bottom', 20, 10, 1);
                        }
                    }
                }
            }
        }
    }

    .header-controls {
        display: flex;
        align-items: center;
        gap: 10px;

        &__block {
            position: relative;

            @media (max-width: $tablet) {
                position: initial;
            }
        }

        button.button__gray,
        a.button__gray {
            display: none;

            @media (min-width: $tablet) {
                display: flex;
            }
        }

        &__search {
            position: relative;

            input {
                @include adaptiv-value('width', 240, 140, 1);
                height: 52px;

                @media (max-width: $tablet) {
                    width: 100%;
                }
            }

            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                font-size: 24px;
            }
        }
    }
}

.upper-header--mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    right: -100%;
    z-index: 5;
    transition: 0.3s;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    display: none;
    top: 0;

    &.active {
        right: 0;
    }

    h4 {
        margin-bottom: 20px;
    }

    @media (max-width: $tablet) {
        display: block;
    }

    .upper-header__nav {
        display: flex;
        @include adaptiv-value('margin-bottom', 50, 30, 1);
        @include adaptiv-value('gap', 70, 40, 1);

        ul {
            display: block;

            li {
                &:not(:last-child) {
                    @include adaptiv-value('margin-bottom', 30, 20, 1);
                }

                a {
                    color: $maincolor;
                    transition: 0.3s;

                    &:hover {
                        color: $orangecolor;
                    }
                }
            }
        }
    }

    .header-row {
        @include adaptiv-value('margin-bottom', 50, 30, 1);
        display: flex;
        gap: 40px;

        &__block {
            ul {
                li {
                    &:not(:last-child) {
                        @include adaptiv-value('margin-bottom', 30, 20, 1);
                    }

                    button {
                        transition: 0.3s;
                        color: $maincolor;

                        &:hover {
                            color: #000;
                        }

                        &.current {
                            color: $orangecolor;
                        }
                    }
                }
            }
        }
    }
}

.full-header {
    &.sticky {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        animation: fixedHeader 0.4s;
        z-index: 4;
    }
}

.header {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;

    @media (max-width: $tablet) {
        margin-bottom: 20px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        position: relative;

        @media (max-width: $tablet) {
            justify-content: flex-start;
        }
    }

    &-left {
        @include adaptiv-value('gap', 30, 10, 1);
        display: flex;
        align-items: center;

        &__logo {
            display: flex;
            flex-direction: column;
            @include adaptiv-value('font-size', 14, 12, 1);
            font-style: italic;
            align-items: center;
            text-align: center;

            @media (max-width: $tablet) {
                flex: 1;
                align-items: flex-start;
            }

            @media (max-width: $mobileSmall) {
                display: block;
                position: absolute;
                left: 50%;

                transform: translateX(-50%);
            }

            span {
                @media (max-width: 1100px) {
                    display: none;
                }

                @media (max-width: $mobileSmall) {
                    width: 100%;
                    display: block;
                    font-size: 9px;
                    line-height: 100%;
                }
            }

            img {
                @include adaptiv-value('width', 176, 100, 1);
                height: auto;
            }
        }

        &__menu {
            position: relative;
            z-index: 6;

            @media (max-width: $tablet) {
                display: none;
            }
        }

        .menu-nav {
            @include adaptiv-value('width', 1200, 600, 1);
            @include adaptiv-value('padding', 50, 30, 1);
            position: absolute;
            background: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            top: calc(100% + 10px);
            transform: translateY(-30px);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            // max-height: 550px;
            max-height: 630px;
            display: flex;
            justify-content: space-between;
            overflow-y: scroll;
            gap: 20px;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            &.menu-open {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            &__block {
                width: 100%;
                padding-bottom: 50px;

                h5 {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        @include adaptiv-value('font-size', 16, 14, 1);

                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 3px;
                            transition: 0.3s;

                            span {
                                font-size: 16px;
                            }

                            &:hover {
                                color: $orangecolor;
                            }
                        }
                    }
                }
            }
        }
    }

    &-info {
        display: flex;
        @include adaptiv-value('gap', 20, 10, 1);
        align-items: center;

        @media (max-width: $tablet) {
            display: none;
        }

        &__call {
            text-align: center;

            .get-call {
                font-size: 18px;
                text-decoration: underline;
                margin-bottom: 5px;
            }

            a {
                font-size: 18px;
            }
        }

        .devider {
            width: 1px;
            height: 45px;
            background-color: $maincolor;
        }

        .language {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__option {
                font-size: 14px;

                &--current {
                    color: $orangecolor;
                }
            }
        }
    }

    .header-controls--mobile {
        display: block;

        @media (max-width: $mobileSmall) {
            flex: 1;
        }

        @media (min-width: $tablet) {
            display: none;
        }

        .menu-nav--mobile {
            position: fixed;
            width: 70%;
            height: 100%;
            background-color: #fff;
            z-index: 10;
            padding: 15px;
            right: -70%;
            transition: 0.3s;
            overflow: auto;

            &.active {
                right: 0;
            }

            @media (max-width: $mobileMedium) {
                width: 85%;
                right: -85%;
            }

            @media (max-width: $mobileSmall) {
                width: 100%;
                right: -100%;
            }

            form {
                margin-bottom: 30px;
            }

            .menu-block {
                &:not(:last-child) {
                    margin-bottom: 50px;
                }

                h5 {
                    margin-bottom: 30px;
                }

                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                        a {
                            line-height: 160%;
                            transition: 0.3s;

                            &:hover {
                                color: $orangecolor;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fixedHeader {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}