.profile-modal {
    position: fixed;
    max-width: 375px;
    width: 100%;
    right: 15px;
    top: 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 30px 15px;
    z-index: 4;
    transition: 0.3s;
    max-height: 760px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: $tablet) {
        position: fixed;
        top: 0;
        right: -100%;
        height: calc(100%);
        z-index: 7;

        &.active {
            right: 0;
        }
    }

    @media (max-width: $mobileMedium) {
        height: calc(100% - 70px);
        z-index: 4;
    }

    p {
        font-size: 14px;
    }

    .modal-account {
        margin-bottom: 20px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;

            .account-header__left {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-size: 14px;
                    color: $graycolor400;
                }
            }
        }
    }

    &__info {
        background: $graycolor200;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__footer {
        background: $graycolor200;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            max-width: 180px;
            margin: 0 auto;
        }
    }
}