<div class="bottom-navigation">
    <a href="#" class="button button__gray">
        <span class="icon-user"></span>
        <span class="button-text">whhroo</span>
        <span class="dot logged"></span>
    </a>
    <a href="#" class="button button__gray">
        <span class="icon-chat"></span>
    </a>
    <button class="button button__gray bottom-navigation__fav">
        <span class="icon-heart"></span>
    </button>
    <button class="button button__gray bottom-navigation__cart">
        <span class="icon-cart"></span>
        <div class="dot not-empty"></div>
    </button>
    <button class="button button__gray bottom-navigation--toggle">
        <span class="icon-menu"></span>
    </button>
</div>