<div class="bottom-navigation">
    <a href="#" class="button button__gray">
        <span class="icon-user"></span>
        <span class="button-text">Contul meu</span>
    </a>
    <a href="#" class="button button__gray">
        <span class="icon-chat"></span>
    </a>
    <a href="#" class="button button__gray">
        <span class="icon-heart"></span>
    </a>
    <a href="#" class="button button__gray">
        <span class="icon-cart"></span>
        <div class="dot not-empty"></div>
    </a>
    <a href="#" class="button button__gray">
        <span class="icon-menu"></span>
    </a>
</div>