<div class="call-modal">
    <div class="call-modal__header">
        <p>Indicați datele personale și unul dintre operatorii noștri în scurt timp vă vor apela</p>
        <button class="icon-close"></button>
    </div>

    <div class="call-modal__body">
        <form action="#">
            <label>
                Numele:
                <input type="text" placeholder="Numele/Prenumele" />
            </label>
            <label>
                Nr. de telefon:
                <input type="tel" placeholder="+(373) ## ### ###" />
            </label>
            <label>
                Tema discuției:
                <textarea name="theme" placeholder="ex. rafturi modulare, scaune, etc."></textarea>
            </label>
            <button type="submit" class="button button__primary">Solicită apel</button>
        </form>
    </div>
</div>
