<div class="call-modal">
    <div class="call-modal__header">
        <p>Indicați datele personale și unul dintre operatorii noștri în scurt timp vă vor apela</p>
        <button class="icon-close"></button>
    </div>
    
    <div class="icon-close__body">
        <form action="#">
            <label for="name">
                Numele:
                <input type="text" id="name" placeholder="Numele/Prenumele">
            </label>
            <label for="phone">
                Nr. de telefon:
                <input type="tel" id="phone" placeholder="+ (373) ### ### ###">
            </label>
            <label for="theme">
                Tema discuției:
                <textarea name="theme" id="theme" placeholder="Scriți tema discuției"></textarea>
            </label>
            <button type="submit" class="button button__primary">Solicită apel</button>
        </form>
    </div>
</div>