<div class="cart-modal">
    <div class="cart-modal__header">
        <h3>Coșul</h3>
        <button class="button button__outline--gray">Șterge tot</button>
    </div>
    <div class="cart-modal__body">
        <div class="cart-product">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <p class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </p>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <div class="product-controls__counter">
                            <button class="icon-minus"></button>
                            1
                            <button class="icon-plus"></button>
                        </div>
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <p class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </p>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <div class="product-controls__counter">
                            <button class="icon-minus"></button>
                            1
                            <button class="icon-plus"></button>
                        </div>
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <p class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </p>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <div class="product-controls__counter">
                            <button class="icon-minus"></button>
                            1
                            <button class="icon-plus"></button>
                        </div>
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <p class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </p>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <div class="product-controls__counter">
                            <button class="icon-minus"></button>
                            1
                            <button class="icon-plus"></button>
                        </div>
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-modal__footer">
        <h3>8400 mdl</h3>
        <a href="../cart.html" class="button button__primary">Spre achitare</a>
    </div>
</div>
