<div class="scroll-category">
    <div class="scroll-category__container">
        <div class="scroll-category__body no-scrollbar">
            <a href="#" class="button button__white">#scaune</a>
            <a href="#" class="button button__white">#mese</a>
            <a href="#" class="button button__white">#coș</a>
            <a href="#" class="button button__white">#softbox</a>
            <a href="#" class="button button__white">#comode</a>
            <a href="#" class="button button__white">#cutie</a>
            <a href="#" class="button button__white">#filtru</a>
            <a href="#" class="button button__white">#scaune</a>
            <a href="#" class="button button__white">#mese</a>
            <a href="#" class="button button__white">#coș</a>
            <a href="#" class="button button__white">#softbox</a>
            <a href="#" class="button button__white">#comode</a>
            <a href="#" class="button button__white">#cutie</a>
            <a href="#" class="button button__white">#filtru</a>
            <a href="#" class="button button__white">#scaune</a>
            <a href="#" class="button button__white">#mese</a>
            <a href="#" class="button button__white">#coș</a>
            <a href="#" class="button button__white">#softbox</a>
            <a href="#" class="button button__white">#comode</a>
            <a href="#" class="button button__white">#cutie</a>
            <a href="#" class="button button__white">#filtru</a>
            <a href="#" class="button button__white">#scaune</a>
            <a href="#" class="button button__white">#mese</a>
            <a href="#" class="button button__white">#coș</a>
            <a href="#" class="button button__white">#softbox</a>
            <a href="#" class="button button__white">#comode</a>
            <a href="#" class="button button__white">#cutie</a>
            <a href="#" class="button button__white">#filtru</a>
        </div>
    </div>
</div>