<div class="reset-modal reset-modal--second">
    <div class="reset-modal__header reset-header">
        <div class="reset-header__title">
            <h3><button class="icon-chevron__long"></button>Confirmați contul</h3>
        </div>
        <button class="icon-close reset-header__close"></button>
    </div>
    <div class="reset-modal__body">
        <form action="#">
            <label>
                Codul de confirmare
                <input type="tel">
                <!-- <small class="error">Codul este gresit</small> -->
            </label>
            <button type="submit" class="button button__primary">Confirmați</button>
        </form>
    </div>
</div>
