<div class="fav-modal">
    <div class="fav-modal__header">
        <a href="../favorites.html">Favorite</a>
        <button class="button button__outline--gray">Șterge tot</button>
    </div>
    <div class="fav-modal__body">
        <div class="cart-product cart-product--modal">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <a href="../product-single.html" class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </a>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product cart-product--modal selected">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <a href="../product-single.html" class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </a>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-product cart-product--modal">
            <img class="cart-product__image" src="@img/product1.png" />
            <div class="cart-product__content product-content">
                <a href="../product-single.html" class="product-content__name">
                    Fotoliu de birou Royal Lux Split Piele negru, denumire pe două rânduri
                </a>
                <div class="product-content__meta product-meta">
                    <h3>1200 mdl</h3>

                    <div class="product-controls">
                        <button class="product-controls__delete icon-close"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fav-modal__footer">
        <button type="button" class="button button__dark">Trimite în coș</button>
        <button type="button" class="button button__primary">Cumpără acum</button>
    </div>
</div>
