<div class="follow">
    <div class="follow-body">
        <h2>Află primul despre ofertele noastre exclusive</h2>
        <div class="follow-form">
            <h3>Abonează-te</h3>
            <p>Pe tot parcursul anului avem promoții. Unele dintre ele - cu reduceri de până la -50%. Află despre ofertele noastre. Introdu numele și e-mailul mai jos.</p>
            <form action="/">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Nume">
                <input type="submit" value="Abonare">
            </form>
        </div>
    </div>
</div>