<div class="upper-header">
    <div class="upper-header__container">
        <div class="upper-header__social">
            <a href="#">
                <img src="@img/icons/facebook.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="@img/icons/instagram.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="@img/icons/youtube.svg" alt="facebook">
            </a>
        </div>

        <nav class="upper-header__nav">
            <ul>
                <li><a href="#">Producere</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Carieră</a></li>
                <li><a href="#">Constructor</a></li>
            </ul>
        </nav>

        <div class="get-call">
            Solicită apel
        </div>

        <div class="upper-header__info upper-info">
            <div class="upper-info__call">
                <a href="tel:+37322944955"><span>Sună acum </span>+373 22 944 955</a>
            </div>
            <span class="devider">|</span>
            <div class="upper-info__language language">
                <span class="language__current">Rusă</span>
            </div>
        </div>
    </div>

</div>
<header class="header">
    <div class="header__container">
        <div class="header__right header-right">
            <a class="header-right__logo">
                <img src="@img/logos/logo.svg" alt="ViTRA">
            </a>
            <div class="header-right__menu header-menu">
                <button class="button button__gray header-menu__burger"><span class="icon-hamburger"></span>Toate categoriile</button>

                <!-- <nav class="header-menu__nav menu-nav">
                    <div class="menu-nav__block">
                        <h5 style="color: #EE2924">RETAIL</h5>
                        <ul>
                            <li><a href="#">Echipamente frigorifice <span class="icon-chevron--right"></span></a></li>
                            <li><a href="#">Mobilier Comercial  <span class="icon-chevron--right"></span></a></li>
                            <li><a href="#">Mese de marcat, coșuri și cărucioare <span class="icon-chevron--right"></span></a></li>
                        </ul>
                    </div>
                </nav> -->
            </div>
        </div>
        <div class="header__left header-left">
            <form action="#" class="header-left__search">
                <input class="filled" type="text" placeholder="Căutare">
                <button class="icon-search"></button>
            </form>
            <button class="button button__gray">
                <span class="icon-heart"></span>
                Favorite (0)
            </button>
            <button class="button button__gray">
                <span class="icon-cart"></span>
                Coș (0)
            </button>
            <button class="button button__gray">
                <span class="icon-user"></span>
            </button>
        </div>

    </div>

</header>