<div class="upper-header">
    <div class="upper-header__container">
        <div class="upper-header__social">
            <a href="#">
                <img src="@img/icons/facebook.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="@img/icons/instagram.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="@img/icons/youtube.svg" alt="facebook">
            </a>
        </div>

        <nav class="upper-header__nav">
            <ul>
                <li><a href="#">Producere</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Carieră</a></li>
                <li><a href="#">Constructor</a></li>
            </ul>
        </nav>

        <div class="get-call">
            Solicită apel
        </div>

        <div class="upper-header__info upper-info">
            <div class="upper-info__call">
                <a href="tel:+37322944955"><span>Sună acum </span>+373 22 944 955</a>
            </div>
            <span class="devider">|</span>
            <div class="upper-info__language language">
                <span class="language__current">Rusă</span>
            </div>
        </div>
    </div>

</div>

<header class="header">
    <div class="header__container">
        <div class="header__left header-left">
            <a class="header-left__logo">
                <img src="@img/logos/logo.svg" alt="ViTRA">
            </a>
            <div class="header-left__menu header-menu">
                <button class="button button__gray header-menu__burger"><span class="icon-hamburger"></span>Toate categoriile</button>

                <nav class="header-menu__nav menu-nav">
                    <div class="menu-nav__left">
                        <div class="menu-nav__block">
                            <h5 style="color: #EE2924">RETAIL</h5>
                            <ul>
                                <li><a href="#">Echipamente frigorifice<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Mobilier Comercial<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Mese de marcat, coșuri și cărucioare <span class="icon-chevron--right"></span></a></li>
                            </ul>
                        </div>

                        <div class="menu-nav__block">
                            <h5 style="color: #07AD4B">LIFE</h5>
                            <ul>
                                <li><a href="#">Mobilier casă, birou<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Curățenie și întreținere<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Coșuri tradiționale împletite<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Mobilier metalic<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Mese și scaune<span class="icon-chevron--right"></span></a></li>
                            </ul>
                        </div>

                        <div class="menu-nav__block">
                            <h5 style="color: #61C7F1">LOGISTICS</h5>
                            <ul>
                                <li><a href="#">Rafturi universale<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Rafturi depozitare<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Scări, echipamente manipulare marfă<span class="icon-chevron--right"></span></a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="menu-nav__right">
                        <div class="menu-nav__block">
                            <h5 style="color: #343B97">HORECA</h5>
                            <ul>
                                <li>
                                    <a href="#">Echipamente pentru baruri și restaurante<span class="icon-chevron--right"></span></a>
                                </li>
                                <li><a href="#">Mese frigorifice<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Echipamente preparare caldă<span class="icon-chevron--right"></span></a></li>
                                <li>
                                    <a href="#">Echipamente procesare și preparare<span class="icon-chevron--right"></span></a>
                                </li>
                                <li><a href="#">Mobilier din inox<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Echipamente pizza<span class="icon-chevron--right"></span></a></li>
                                <li>
                                    <a href="#">Echipamente fast-food<span class="icon-chevron--right"></span></a>
                                </li>
                                <li><a href="#">Utilaje autoservire și echipamente catering<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Vidare-ambalare<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Veselă profesională<span class="icon-chevron--right"></span></a></li>
                                <li><a href="#">Capcane de insecte<span class="icon-chevron--right"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </div>

        <div class="header__right header-right">
            <form action="#" class="header-right__search">
                <input class="filled" type="text" placeholder="Căutare">
                <button class="icon-search"></button>
            </form>
            <button class="button button__gray">
                <span class="icon-heart"></span>
                Favorite (0)
            </button>
            <button class="button button__gray">
                <span class="icon-cart"></span>
                Coș (0)
            </button>
            <button class="button button__gray">
                <span class="icon-user"></span>
            </button>
        </div>
        <div class="header__right header-right--mobile">
            <button type="button" class="burger">
                <span></span>
            </button>
            <nav class="menu-nav--mobile">
                <div class="menu-block">
                    <h5>HORECA</h5>
                    <ul>
                        <li><a href="#">Echipamente pentru baruri și restaurante<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mese frigorifice<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Echipamente preparare caldă<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Echipamente procesare și preparare<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mobilier din inox<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Echipamente pizza<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Echipamente fast-food<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Utilaje autoservire și echipamente catering<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Vidare-ambalare<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Veselă profesională<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Capcane de insecte<span class="icon-chevron--right"></span></a></li>
                    </ul>
                </div>
                <div class="menu-block">
                    <h5>LOGISTICS</h5>
                    <ul>
                        <li><a href="#">Rafturi universale<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Rafturi depozitare<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Scări, echipamente manipulare marfă<span class="icon-chevron--right"></span></a></li>
                    </ul>
                </div>
                <div class="menu-block">
                    <h5>RETAIL</h5>
                    <ul>
                        <li><a href="#">Echipamente frigorifice<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mobilier Comercial<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mese de marcat, coșuri și cărucioare<span class="icon-chevron--right"></span></a></li>
                    </ul>
                </div>
                <div class="menu-block">
                    <h5>LIFE</h5>
                    <ul>
                        <li><a href="#">Mobilier casă, birou<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Curățenie și întreținere<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Coșuri tradiționale împletite<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mobilier metalic<span class="icon-chevron--right"></span></a></li>
                        <li><a href="#">Mese și scaune<span class="icon-chevron--right"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>