<section class="articles-home">
    <div class="articles-home__container">
        <div class="articles-home__header">
            <h3>Blog</h3>
            <a href="./blog.html">Citește mai mult <span class="icon-chevron__duo"></span></a>
        </div>
        <div class="articles-home__body">
            <div class="page__articles-slider articles-slider">
                <div class="articles-slider__body">
                    <div class="articles-slider__slider">
                        <div class="slider-articles__body swiper">
                            <article class="slider-articles__slide post-article"
                                style="background: url('@img/blog1.jpg') 50% 50% / cover no-repeat;">
                                <div class="post-article__body">
                                    <div class="post-article__tags">
                                        <a href="#"># topic</a>
                                        <a href="#"># news</a>
                                        <a href="#"># life</a>
                                    </div>
                                    <a href="./single.html" class="post-article__title">Morbi habitasse felis
                                        nulla arcu, morbi ultricies.</a>
                                </div>
                            </article>
                            <article class="slider-articles__slide post-article"
                                style="background: url('@img/blog2.jpg') 50% 50% / cover no-repeat;">
                                <div class="post-article__body">
                                    <div class="post-article__tags">
                                        <a href="#"># topic</a>
                                        <a href="#"># news</a>
                                        <a href="#"># life</a>
                                    </div>
                                    <a href="./single.html" class="post-article__title">Et illo debitis veniam
                                        itaque.</a>
                                </div>
                            </article>
                            <article class="slider-articles__slide post-article"
                                style="background: url('@img/blog3.jpg') 50% 50% / cover no-repeat;">
                                <div class="post-article__body">
                                    <div class="post-article__tags">
                                        <a href="#"># topic</a>
                                        <a href="#"># news</a>
                                        <a href="#"># life</a>
                                    </div>
                                    <a href="./single.html" class="post-article__title">Quod repellendus ullam
                                        quo consequatur inventore magnam ...</a>
                                </div>
                            </article>
                            <article class="slider-articles__slide post-article"
                                style="background: url('@img/blog1.jpg') 50% 50% / cover no-repeat;">
                                <div class="post-article__body">
                                    <div class="post-article__tags">
                                        <a href="#"># topic</a>
                                        <a href="#"># news</a>
                                        <a href="#"># life</a>
                                    </div>
                                    <a href="./single.html" class="post-article__title">Morbi habitasse felis
                                        nulla arcu, morbi ultricies.</a>
                                </div>
                            </article>
                        </div>

                        <div class="slider-articles-controls">
                            <div class="slider-articles-controls__arrows slider-arrows">
                                <button type="button"
                                    class="slider-arrow slider-arrow__prev icon-chevron--left"></button>
                                <button type="button"
                                    class="slider-arrow slider-arrow__next icon-chevron--right"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>