<div class="pagination">
    <div class="pagination__container">
        <div class="pagination-body">
            <button class="button button__light pagination-button">
                Vezi mai multe
            </button>
            <ul class="pagination-list">
                <li>
                    <a href="">1</a>
                </li>
                <li>
                    <a href="">2</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    ...
                </li>
                <li>
                    <a href="">16</a>
                </li>
            </ul>
        </div>

    </div>
</div>