<div class="profile-modal">
    <div class="profile-modal__profile modal-account">
        <div class="modal-account__header account-header">
            <div class="account-header__left">
                <h4>Alexandru</h4>
                <span>24.sadasd@gmail.com</span>
                <span>+373 069 122 234</span>
            </div>
            <a href="../profile.html" class="button button__gray transparent"
                ><span class="icon-edit"></span
            ></a>
        </div>
        <a href="../history.html" class="button button__outline">Istoricul Cumpărăturilor</a>
    </div>
    <div class="profile-modal__info">
        <h5>Bonus acumulat:</h5>
        <p>Acest bonus îl puteți folosi drept reducere pentru anume produse</p>
        <h3>24%</h3>
    </div>
    <div class="profile-modal__footer">
        <img src="@img/qr.svg" alt="qr" />
        <p>Prezentați qr codul în magazinul nostru fizic pentru a beneficia de reducere</p>
    </div>

    <button class="logout-button">Ieși din cont</button>
</div>
