<section class="recent">
    <div class="recent__container">
        <div class="recent__header">
            <h3>Recent văzute</h3>
        </div>
        <div class="recent__body recent-body">
            <div class="recent-body__product recent-product">
                <img src="@img/product10.png" alt="">
                <div class="recent-product__content">
                    <a href="../product-single.html">Masă cu picioare din fier 1450x900x765 mm, cafeniu</a>
                    <h4>2390 MDL</h4>
                </div>
            </div>
            <div class="recent-body__product recent-product">
                <img src="@img/product10.png" alt="">
                <div class="recent-product__content">
                    <a href="../product-single.html">Masă cu picioare din fier 1450x900x765 mm, cafeniu</a>
                    <h4>2390 MDL</h4>
                </div>
            </div>
            <div class="recent-body__product recent-product">
                <img src="@img/product10.png" alt="">
                <div class="recent-product__content">
                    <a href="../product-single.html">Masă cu picioare din fier 1450x900x765 mm, cafeniu</a>
                    <h4>2390 MDL</h4>
                </div>
            </div>
            <div class="recent-body__product recent-product">
                <img src="@img/product10.png" alt="">
                <div class="recent-product__content">
                    <a href="../product-single.html">Masă cu picioare din fier 1450x900x765 mm, cafeniu</a>
                    <h4>2390 MDL</h4>
                </div>
            </div>
        </div>
    </div>
</section>