<div class="reset-modal reset-modal--first">
    <div class="reset-modal__header reset-header">
        <div class="reset-header__title">
            <h3>Recuperare parolă</h3>
            <p>Pe numărul vostru de telefon va fi trimis un cod unic pentru recuperarea parolei.</p>
        </div>
        <button class="icon-close reset-header__close"></button>
    </div>
    <div class="reset-modal__body">
        <form action="#">
            <label>
                Nr. de telefon
                <input type="tel" placeholder="+373********">
                <!-- <small class="error">Nu exista asa numar de telefon</small> -->
            </label>
            <div class="form-buttons">
                <span>Ai deja cont? <button class="open-login">Loghează-te</button></span>
                <button type="submit" class="button button__primary">Recuperează</button>
            </div>
        </form>
    </div>
    <div class="reset-modal__footer">
        N-ai primit nimic pe e-mail? <a href="#">Click pentru a retrimite</a>
    </div>
</div>

<div class="reset-modal reset-modal--second">
    <div class="reset-modal__header reset-header">
        <div class="reset-header__title">
            <h3><button class="icon-chevron__long"></button>Recuperare parolă</h3>
        </div>
        <button class="icon-close reset-header__close"></button>
    </div>
    <div class="reset-modal__body">
        <form action="#">
            <label>
                Codul de confirmare
                <input type="tel">
                <!-- <small class="error">Codul este gresit</small> -->
            </label>
            <button type="submit" class="button button__primary">Confirmați</button>
        </form>
    </div>
</div>

<div class="reset-modal reset-modal--third">
    <div class="reset-modal__header reset-header">
        <div class="reset-header__title">
            <h3><button class="icon-chevron__long"></button>Creați parolă nouă</h3>
        </div>
        <button class="icon-close reset-header__close"></button>
    </div>
    <div class="reset-modal__body">
        <form action="#">
            <label>
                Parola nouă
                <p>
                    <input type="password">
                    <button class="icon-eye type-switch"></button>
                </p>
            </label>
            <div class="form-buttons">
                <span>Ai deja cont? <button class="open-login">Loghează-te</button></span>
                <button type="submit" class="button button__primary">Confirmați</button>
            </div>
        </form>
    </div>
</div>