<div class="success-modal">
    <button type="button" class="icon-close"></button>

    <div class="success-modal__body">
        <img src="@img/icons/success.svg" alt="success" />

        <h3>
            Comanda dvs. nr. <strong>143706</strong> din <strong>19.04.2022</strong> a fost creată
            cu succes.
        </h3>

        <i>În scurt timp veți fi contactat de către un operator pentru a întocmi detaliile.</i>
        <div class="cart-register">
            <button class="register-button button button__primary">
                Inregistreaza-te si vezi Istoricul comenzilor
            </button>
        </div>
    </div>
</div>
