@font-face {
    font-family: Kinetika;
    font-display: swap;
    src: url('../fonts/Kinetika-Regular.woff2') format('woff2'),
        url('../fonts/Kinetika-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Kinetika;
    font-display: swap;
    src: url('../fonts/Kinetika-Medium.woff2') format('woff2'),
        url('../fonts/Kinetika-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Kinetika;
    font-display: swap;
    src: url('../fonts/Kinetika-SemiBold.woff2') format('woff2'),
        url('../fonts/Kinetika-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: icomoon;
    font-display: swap;
    src: url('../fonts/icomoon.woff2') format('woff2'), url('../fonts/icomoon.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Kinetika;
    font-display: swap;
    src: url('../fonts/Kinetika-Bold.woff2') format('woff2'),
        url('../fonts/Kinetika-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
