.profile {
    height: 70vh;
    &__container {
        height: 100%;
        h3 {
            margin: 30px 0;
            @media (max-width: $tablet) {
                margin-bottom: 50px;
            }
        }
    }

    &-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        @media (max-width: $tablet) {
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
        }

        // .profile-mobile__tabs {
        //     display: none;
        //     @media (max-width: $mobileMedium) {
        //         display: block;
        //         .tabs__list {
        //             display: flex;
        //             align-items: center;
        //             gap: 30px;
        //             .tabs__item {
        //                 button {
        //                     font-weight: 600;
        //                     color: #bdbdbd;
        //                     transition: 0.3s;
        //                     &.tabs__button--active {
        //                         color: $maincolor;
        //                         text-decoration: underline;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
        .profile-form {
            @include adaptiv-value('width', 660, 250, 1);
            @media (max-width: $tablet) {
                grid-template-columns: repeat(1, 1fr);
                max-width: 80%;
                width: 100%;
                margin: 0 auto;
            }
            @media (max-width: $mobile) {
                max-width: 100%;
            }
            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                @include adaptiv-value('grid-gap', 30, 10, 1);
                @include adaptiv-value('width', 660, 250, 1);
                @media (max-width: $tablet) {
                    display: block;
                    margin: 0 auto;
                    width: auto;
                }
                label {
                    color: #3c3c3c;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    @include adaptiv-value('font-size', 18, 16, 1);
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    &:nth-child(2) {
                        grid-row: 2 span;
                    }
                    @media (max-width: $tablet) {
                        grid-column: 2 span;
                    }
                }
                .forget {
                    display: block;
                    margin-left: auto;
                    grid-column: 2 span;
                    font-size: 12px;
                    line-height: 14px;
                    text-decoration-line: underline;
                    color: #2c5282;
                    @media (max-width: $mobileSmall) {
                        margin: 15px 0;
                    }
                }
                .form-btns {
                    margin-left: auto;
                    grid-column: 2 span;
                    @media (max-width: $mobileSmall) {
                        width: 100%;
                        margin: 0;
                    }
                }
                .form-btn {
                    width: 215px;
                    &:first-child {
                        margin-bottom: 10px;
                    }
                    @media (max-width: $mobileSmall) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
