.single {
    &__container {
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__tags {
        display: flex;
        gap: 10px;
        margin: 20px 0;
        .button {
            width: fit-content;
            padding-right: 20px;
            padding-left: 20px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        }
    }
    &-content {
        &__image {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 30px 0;
        }

        h3 {
            margin-bottom: 20px;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        ul {
            margin-bottom: 30px;
            padding-left: 20px;
            li {
                @include adaptiv-value('font-size', 16, 14, 1);
                list-style: disc;
                line-height: 160%;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
        .single__presentation {
            margin-bottom: 40px;
            img {
                display: block;
                margin: 0 auto;
                max-width: 530px;
                width: 100%;
            }
            span {
                display: block;
                text-align: center;
                font-size: 14px;
                line-height: 100%;
                margin-top: 20px;
                color: $graycolor400;
            }
        }
    }
    .sigle__products {
        margin: 30px 0;
        .sigle__products-body {
            display: flex;
            gap: 20px;
            @media (max-width: $mobile) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                .product {
                    &__images {
                        height: 200px;
                    }
                }
            }
            @media (max-width: $mobileSmall) {
                .product {
                    &__images {
                        height: 160px;
                    }
                }
            }
        }
    }
    .follow {
        margin-top: 80px;
    }
}
