h1 {
    @include adaptiv-value('font-size', 36, 32, 1);
    line-height: 140%;
    font-weight: 600;
}

h2 {
    @include adaptiv-value('font-size', 32, 28, 1);
    line-height: 140%;
    font-weight: 600;
}

h3 {
    @include adaptiv-value('font-size', 24, 20, 1);
    line-height: 140%;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 160%;
}

a {
    color: $maincolor;
    line-height: 160%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    position: relative;
    color: $maincolor;
    &__light {
        background-color: $graybackground100;
        padding: 10px 0;
        border-radius: 4px;
        &:hover {
            background-color: darken($color: $graybackground100, $amount: 5);
        }
        &:active {
            background-color: darken($color: $graybackground100, $amount: 8);
        }
    }
    &__white {
        background-color: #fff;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 14px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: darken($color: #fff, $amount: 3);
        }
        &:active {
            background-color: darken($color: #fff, $amount: 5);
        }
    }
    &__chip {
        padding: 10px 0;
        background-color: $graybackground100;
        gap: 10px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__outline {
        padding: 14px 20px;
        background-color: transparent;
        border: 1px solid $graycolor300;
        border-radius: 4px;
        &:hover {
            border-color: $orangecolor;
        }
        &--big {
            color: #bdbdbd;
            font-weight: 600;
            &:hover {
                color: $orangecolor;
            }
        }
        &--option {
            width: fit-content;
            padding: 10px 15px;
            font-size: 14px;
            &.active {
                border-color: $orangecolor;
            }
        }
    }
    &__gray {
        width: fit-content;
        padding: 14px;
        gap: 5px;
        background-color: $graycolor100;
        border-radius: 4px;
        font-size: 14px;
        span[class^='icon-'],
        span[class*=' icon-'] {
            font-size: 24px;
        }
        &:hover {
            background-color: $graycolor200;
        }
        &:active {
            background-color: $graycolor300;
        }
        &.active {
            background-color: $graycolor300;
        }
    }
    &__filter {
        width: fit-content;
        line-height: 100%;
        padding: 15px 30px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid $graycolor300;
        &.active {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
        &:hover {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
    &__black {
        width: fit-content;
        padding: 15px 30px;
        background-color: $maincolor;
        font-size: 18px;
        color: #fff;
        &:hover {
            background-color: lighten($color: $maincolor, $amount: 5);
        }
        &:active {
            background-color: $maincolor;
        }
    }
    &__primary {
        padding: 15px 0;
        background-color: $orangecolor;
        border-radius: 4px;
        letter-spacing: 0.03em;
        color: #fff;
        font-weight: 600;
        &:hover {
            background-color: lighten($color: $orangecolor, $amount: 5);
        }
        &:active {
            background-color: $orangecolor;
        }
        &--big {
            padding: 24px 0;
            border-radius: 0;
            font-weight: normal;
        }
    }
    &[disabled] {
        background-color: $graycolor400;
        cursor: not-allowed;
    }
    &__dark {
        background-color: $darkcolor;
        font-weight: 600;
        padding: 15px 30px;
        border-radius: 4px;
        color: #fff;
        &:hover {
            background-color: lighten($color: $darkcolor, $amount: 5);
        }
        &:active {
            background-color: $darkcolor;
        }
    }
    &__control {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #e4e4e4;
        font-size: 24px;
        color: $graycolor300;
        &:hover {
            color: $orangecolor;
        }
        &:active {
            transform: scale(0.9);
        }
        &.added {
            background-color: $darkcolor;
            border-color: $darkcolor;
            color: #fff;
            &.icon-heart__filled {
                background-color: transparent;
                color: $orangecolor;
                border-color: #e4e4e4;
            }
        }
    }
}

.burger {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        margin-left: auto;
        position: relative;
        width: 26px;
        height: 18px;
        cursor: pointer;
        z-index: 4;
        span,
        &::before,
        &::after {
            content: '';
            transition: all 0.3s ease 0s;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $maincolor;
            border-radius: 5px;
        }
        &::before {
            top: 2px;
        }
        &::after {
            bottom: 2px;
        }
        span {
            top: calc(50% - 1px);
        }
        &.active {
            span {
                transform: translateX(-30px);
                opacity: 0;
                visibility: hidden;
            }
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(45deg);
                top: calc(50% - 1px);
            }
        }
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

input,
textarea {
    width: 100%;
    display: block;
    padding: 15px 10px;
    color: $darkcolor;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    border-radius: 4px;
    &:focus {
        border-color: $darkcolor;
    }
    &::placeholder {
        font-size: 14px;
        color: $graycolor400;
    }
    &.filled {
        border: none;
        background-color: $graycolor100;
        &::placeholder {
            color: $graycolor500;
        }
    }
}

small.error {
    color: $errorcolor;
    font-size: 12px;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
    accent-color: $darkcolor;
}

.checkbox-symbol {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.checkbox-container {
    box-sizing: border-box;
    background: #ffffff;
    color: #222;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.checkbox-container * {
    box-sizing: border-box;
}

.checkbox-input {
    position: absolute;
    visibility: hidden;
}

.checkbox {
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
}

.checkbox:not(:last-child) {
    margin-right: 6px;
}

.checkbox-container.accent .checkbox:hover {
    background: rgba(241, 93, 34, 0.1);
}

.checkbox span {
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
    position: relative;
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.3s ease;
}

.checkbox span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
    padding-left: 8px;
}

.checkbox-container.accent .checkbox:hover span:first-child {
    border-color: $orangecolor;
}

.checkbox-container .checkbox:hover span:first-child {
    border-color: $darkcolor;
}

.checkbox-container.accent .checkbox-input:checked + .checkbox span:first-child {
    background: $orangecolor;
    border-color: $orangecolor;
    animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child {
    background: $darkcolor;
    border-color: $darkcolor;
    animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
    50% {
        transform: scale(0.9);
    }
}

.get-call {
    cursor: pointer;
}

.slider-arrow {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-size: 20px;
    transition: 0.3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    &.swiper-button-disabled {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.dot.not-empty {
    position: absolute;
    top: 20%;
    right: 35%;
    width: 8px;
    height: 8px;
    background-color: $orangecolor;
    border-radius: 50%;
    @media (max-width: $mobile) {
        right: 30%;
    }
    @media (max-width: $mobileMedium) {
        right: 25%;
    }
    @media (max-width: $mobileSmall) {
        right: 20%;
    }
}

section {
    [class*='__header'] {
        margin-bottom: 20px;
    }
}

.fullscreen {
    height: 100vh;
}
